@font-face {
    font-family: "pixelFont";
    src: url('pixelated-times-new-roman.ttf');
}

html {
    font-family: "pixelFont";
}

#body {
    background: #000000;
    color: white;
    overflow: hidden;
}

#applesText, #applesApples {
    font-size: 5em;
}

#ryukTitle {
    font-size: 6em;
}

#itemShop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 50px;
}

.L_item {
    width: 120px;
    image-rendering: pixelated;
}

.item {
    width: 150px;
    float: center;
    image-rendering: pixelated;
}

.itemDesc {
    font-size: 3em;
    float: center;
}

#nextWord {
    font-size: 0.75em;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    /* transform: translate(-50%, -50%); */
    color: red;
    opacity: 50%;
    filter:alpha(opacity=50);
    text-shadow: 0rem 0rem 0.25rem #ff0000;
    line-height: 1;
}

#face {
    width: 218px;
    height: 218px;
    image-rendering: pixelated;
    display: none;
    position: relative;
    float: center;
    filter: invert(0.5) brightness(1.75);
} 

@keyframes horizontal-shaking {
    0% { transform: translateX(0px) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0px) }
}

.horizTranslate {
    animation: horizontal-shaking 0.35s;
}

#welcomeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#preGame {
    display: block;
}

#lightYagamiSelect {
    width: 50%;
    image-rendering: pixelated;
}

#lightYagamiSelect:hover, #misaAmaneSelect:hover {
    color: #111; 
    background: red; 
    box-shadow: 0 0 100px red;
}

#misaAmaneSelect {
    width: 50%;
    image-rendering: pixelated;
}

#scores {
    font-size: 6em;
    text-align: center;
}

#seconds {
    padding-bottom: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}

h1, h2, p, span  {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: #F5F0F0;
    /* font-family: 'EB Garamond', serif; */
    font-family: "pixelFont";
    line-height: 1;
    font-weight: 500;
    text-shadow: 0rem 0rem 0.25rem #FFFFFF;
    text-align: center;
}

#crime {
    font-size: 5em;
}

.canvasjs-chart-credit {
    display: none;
}

#chartContainer {
    display: flex;
    position: fixed;
    left: 0;
    height: 300px; 
    width: 300px;
    padding-left: 2em;
    padding-top: 5em;
}

#postGame {
    font-size: 3em;
}

p {
    font-size: 3em;
}

#scoreText, #score {
    font-size: 5em;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#suspicion, #susText {
    font-size: 3em;
    display: none;
    position: fixed;
    left: 0;
    padding-left: 2em;
}

#susText { 
    padding-left: 5em;
}

#comboRightSide {
    position: fixed;
    right: 0;
}

#comboImage {
    width: 450px;
    height: 300px;
    image-rendering: pixelated;
    margin-top: 5em;
}

#kills, #killText {
    font-size: 6em;
    display: none;
    position: fixed;
    right: 0;
    padding-right: 2em;
}

#kills { 
    padding-right: 3em;
}

#legend27 {
    font-size: 8em;
}

#continue {
    font-size: 3em;
}

#wordStuff {
    font-size: 8em;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

#welcomeMessage {
    display: block;
}

#gameElements {
    display: none;
}

#ryukShop {
    display: none;
    padding-bottom: -20px;
}

#ryukHappy {
    left: 50%;
    bottom: 0;
    height: 400px;
    position: absolute;
}

#inGame {
    display: none;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url('images/particle-fire-header-ani.gif');
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
    padding:0;
}

#postWord {
    opacity: 50%;
}

#postGame {
    display: none;
}

#postGame {
    text-align: center;
}
 
.barcontainer{
    background-color: #181818;
    position: relative;
    height: 30px;
    width: 700px;
    display: none;
}

#susContainer, #sus {
    margin: auto;
}

#sus {
    background-color: #ff5a5a;
}

#comboContainer, #combo {
    margin: auto;
}

#combo {
    background-color: #ffff6b;
}

#comboText, #susText {
    display: none
}
    
.bar{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 80%;
    display: none;
}